/* basic set up */
html {
  height: 100%;
}
/* basic adjustments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}
/* root utility classes */
:root {
  /* these are the main colors */
  --primary-color: #ffe6e6;
  --secondary-color: #ffabe1;
  --third-color: #a685e2;
  --fourth-color: #6155a6;
  /* accent colors that fit the main */
  --accent-light: rgb(255, 231, 248);
  --accent-lighter: rgb(252, 243, 249);
  --accent-black: rgba(26, 0, 6, 0.733);
  --accent-white: rgba(255, 255, 255, 0.979);
  --accent-error: rgb(252, 67, 77);
  /* font size vars */
  --font-size-100: 0.5rem;
  --font-size-200: 0.7rem;
  --font-size-300: 1rem;
  --font-size-400: 1.2rem;
  --font-size-500: 1.5rem;
  --font-size-600: 1.7rem;
  --font-size-700: 2rem;
  --font-size-800: 2.2rem;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-color);
  color: var(--fourth-color);
}

/* utility class */
.row {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}
/* class for the loading animations */
.loader-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
.display-none {
  display: none;
}
/* for the scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-lighter);
  border: 0.5px solid var(--third-color);
  border-radius: 0 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
  border-radius: 0 0.75em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--third-color);
  border: 0.5px solid var(--fourth-color);
}
