/* title for the calculator */
.tip-title {
  text-align: center;
  font-weight: 800;
  font-size: var(--font-size-800);
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* container to everything on the page */
.tip-calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-inline: auto;
  width: 70%;
  height: auto;
  border: 1px solid var(--third-color);
  box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.1);
  background-color: var(--secondary-color);
  z-index: 1;
}
/* container for just the form section */
.tip-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* total amount of tip $ you seen when you submit */
.results-text {
  display: flex;
  flex-direction: column;
}
/* for the group per-person label to let you know that it is per person */
.group-text {
  font-size: var(--font-size-300);
  font-weight: 800;
}
/* for the labels on the calculator form */
.label-title {
  font-weight: 500;
  font-size: var(--font-size-500);
  background-color: var(--accent-light);
  /* just incase for safari */
  color: var(--fourth-color);
  border-radius: 0.8rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* input for the bill amount */
.bill-input {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  border: 1px solid var(--accent-black);
  color: var(--fourth-color);
  background-color: var(--accent-lighter);
  border-radius: 0 0.5rem;
}
/* focus for the input */
.bill-input:focus {
  outline: 1px solid var(--third-color);
}
/* buttons for the percentage */
.percent-btn {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  font-size: var(--font-size-500);
  font-weight: 500;
  border: 1px solid var(--accent-black);
  color: var(--fourth-color);
  background-color: var(--accent-lighter);
  border-radius: 0 0.5rem;
}
/* hover for percent btn */
.percent-btn:hover {
  color: var(--accent-lighter);
  background-color: var(--fourth-color);
  border: 1px solid var(--accent-white);
}
/* if the button was clicked */
.clicked {
  border: 1px solid rgb(2, 255, 2);
  pointer-events: none;
}
.clicked:hover {
  border: 1px solid rgb(2, 255, 2);
  background-color: rgba(101, 245, 101, 0.712);
  color: var(--accent-black);
}
/* if button was not clicked */
.not-clicked {
  border: 1px solid var(--accent-lighter);
  color: var(--accent-black);
  background-color: rgb(204, 185, 207);
  pointer-events: none;
}
/* just a little add on for the submit button for the tip */
.submit-tip {
  margin-bottom: 0.5rem;
}
/* css for the question container */
.group-question-container {
  display: flex;
  flex-direction: column;
}
.checkbox {
  cursor: pointer;
  justify-content: center;
  margin: 0 1rem;
  margin-top: 1rem;
  height: 25px;
  width: 25px;
  accent-color: var(--fourth-color);
}
.checkbox:hover {
  accent-color: var(--accent-lighter);
}
@media screen and (max-width: 200px) {
  .tip-title {
    font-size: var(--font-size-500);
  }
}

@media screen and (max-width: 280px) {
  .tip-title2 {
    font-size: var(--font-size-800);
    bottom: 115px;
    left: 3px;
  }
}
@media screen and (max-width: 600px) {
  .group-text {
    font-size: var(--font-size-200);
  }
  .bill-input:focus {
    outline: none;
  }
}
