.tip-calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--third-color);
  background-color: var(--secondary-color);
  z-index: 1;
}
.tip-total {
  display: inline-block;
}
