.tip-calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 70%;
  height: auto;
  border: 1px solid var(--third-color);
  box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.1);
  background-color: var(--secondary-color);
  z-index: 1;
}
.tip-total {
  display: inline-block;
}
