/* overall div that contains all of the profile page content */
.profile-page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 80%;
  height: auto;
  padding: 0.5rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--third-color);
  box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.1);
}

#dark .profile-page-container {
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-third);
}

/* title that for the user's tips */
.profile-title {
  font-weight: 800;
  font-size: var(--font-size-800);
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent-light);
}

#dark .profile-title {
  background-color: var(--dark-primary);
}

/* title for the tip history div */
.tip-history-title {
  font-size: var(--font-size-500);
  font-weight: 500;
  border-radius: 0.3rem;
  background-color: var(--accent-light);
}

#dark .tip-history-title {
  background-color: var(--dark-primary);
}

/* text for the tip counter */
.tip-count {
  font-size: var(--font-size-400);
  font-weight: 400;
}

/* text for the tips from the tip history */
.tips-text {
  font-size: var(--font-size-300);
  font-weight: 300;
}

/* title for the fun facts */
.facts-title {
  font-weight: 800;
  font-size: var(--font-size-800);
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--accent-light);
}

#dark .facts-title {
  background-color: var(--dark-primary);
}

/* the tip history div */
.tip-history-container {
  width: 100%;
  height: 10vh;
  border-radius: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
}

#dark .tip-history-container {
  background-color: var(--dark-secondary);
}

/* div that contains all of the fun facts */
.fun-facts-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* text to see what users usually tip */
.most-tipped-text {
  font-size: var(--font-size-500);
  font-weight: 500;
}
